node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
PAT.txt

# Power BI
*.pbix
*.pbit
*.pbip
*.pbi
*.pbir
*.pbiviz

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Project Data
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
